.wrapper--a
  .header--a
    %p トイレ周辺機器 >> 新規投稿
  = render 'layouts/post_error_messages'
  .link-box
    .message1
      = link_to jenre_posts_path(@jenre.id) do
        %p 投 稿
  
  .form__box
    %ul.form_for
      = form_for [@jenre,@post] do |f|
        %li.form_title
          %p.title-caution
            10文字以内で入力してください
          =  f.text_area :title, placeholder: '題  目'
        %li.form_content
          %p.content-caution
            300文字以内で入力してください
          =  f.text_area :content, placeholder: '内  容'
        %li.form_image
          %p.image-title
            写 真
          -#%p.image-caution1
            -#※写真の取り下げはできません。
          -#%p.image-caution2
            取り下げする場合は一度リロードして下さい。
            -#%br
            内容に記載をしている場合、再度入力する手間を
            -#%br
            省くために文章をコピーしてからのリロードを
            -#%br
            お勧めします。
          .post-images-box1-top
            .post-images-box1-top-left
              =  f.file_field :images, multiple: true, id: 'post_images1'
              .box
                =  image_tag "", id: 'img1'
            .post-images-box1-top-right
              =  f.file_field :images, multiple: true, id: 'post_images2'
              .box
                = image_tag "", id: 'img2'
          .post-images-box1-bottom
            .post-images-box1-bottom-left
              =  f.file_field :images, multiple: true, id: 'post_images3'
              .box
                = image_tag "", id: 'img3'
            .post-images-box1-bottom-right
              =  f.file_field :images, multiple: true, id: 'post_images4'
              .box
                = image_tag "", id: 'img4'
          

        %li.form_submit
          =  f.submit '送  信', class: 'submit'
           