.wrapper
  .wrapper__message
    .wrapper__message__update
      =  @post.updated_at
    .wrapper__message__title
      =  @post.title
    .wrapper__message__image
      =  @post.image    
    .wrapper__message__content
      = @post.content
    .wrapper__message__edit
      =  link_to edit_jenre_post_path(@post.jenre_id, @post.id) do
        %p  編 集
    .wrapper_message__destroy
      = link_to post_path(@post.id), method: :delete do
        %p 削 除
  